/* Reservation */

.reservation-by-selections {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-transform: uppercase;
}

.reservation-by-selection {
  min-width: 150px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: normal;
  background-color: var(--blueLight);
  color: var(--white);
  cursor: pointer;
}

.reservation-by-selection:hover {
  background-color: var(--white);
  color: var(--blueLight);
}

.reservation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 17px;
  font-weight: normal;
  color: var(--blueLight);
}

.reservation-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.reservation-total {
  float: left;
  min-height: 20px;
  width: 7%;
  text-align: left;
}

.reservation-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservation-list {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border: 1px solid var(--blueLight);
}
